In [6]:
import geopandas
import geopy
import rasterio

# Variables

## Strings

##### A string is a sequence of letters, numbers, and punctuation marks - or commonly known as text

##### In Python you can create a string by typing letters between single or double quotation marks.

In [7]:
city = "kolkata"
state = "West Bengal"
print (city,)

kolkata West Bengal

In [8]:
print (city,",",state)

kolkata , West Bengal

## Numbers

##### Python can handle several types of numbers, but the two most common are:

##### int, which represents integer values like 100, and 
float, which represents numbers that have a fraction part, like 0.5

In [9]:
population = 14900000
latitude = 22.56
longitude =

In [11]:
print(type(population))

<class 'int'>

In [12]:
print (type(latitude))

<class 'float'>

In [13]:
elevation_feet = 934
elevation_meter = elevation_feet * 0.3048
print(elevation_meter)

284.6832

In [15]:
area_sqmi = 46.89
density = population / area_sqmi
print(density)

317764.9818724675

In [16]:
coordinates = (latitude,longitude)
print(coordinates)

(22.56, 86.36)

In [17]:
y = coordinates[0]
x = coordinates[1]
print(x,y)

86.36 22.56

## List

##### A list is similar to a tuple - but with a key difference. With tuples, once created, they cannot be changed, i.e. they are immutable. But lists are mutable. You can add, delete or change elements within a list. In Python, lists are written with square brackets []

In [18]:
cities = ["kolkata","mumbai","delhi","hydrabad"]
print(cities)

['kolkata', 'mumbai', 'delhi', 'hydrabad']

In [19]:
print(cities[0])

kolkata

In [20]:
print(len(cities))

4

In [21]:
cities.append("Bangalore")

In [22]:
print(cities)

['kolkata', 'mumbai', 'delhi', 'hydrabad', 'Bangalore']

In [23]:
cities.sort()
print(cities)

['Bangalore', 'delhi', 'hydrabad', 'kolkata', 'mumbai']

In [25]:
cities.sort(reverse=True)
print(cities)

['mumbai', 'kolkata', 'hydrabad', 'delhi', 'Bangalore']

In [27]:
capitals = ['Sacramento', 'Boston', 'Austin', 'Atlanta']
capitals_Set = set(capitals)
cities_Set = set(cities)
capitals_cities = capitals_Set.intersection(cities_Set)
print (capitals_cities)

set()

In [28]:
cities.extend(capitals)

In [29]:
print(cities)

['mumbai', 'kolkata', 'hydrabad', 'delhi', 'Bangalore', 'Sacramento', 'Boston', 'Austin', 'Atlanta']

print(set(cities))

## Sets

##### Sets are like lists, but with some interesting properties. Mainly that they contain only unique values. It also allows for set operations - such as intersection, union and difference. In practice, the sets are typically created from lists.

In [31]:
data = {"city":"kolkata","population":14900000,"coordinates":(86.36,22.56)}
print(data)

{'city': 'kolkata', 'population': 14900000, 'coordinates': (86.36, 22.56)}

In [34]:
print (data["coordinates"])

(86.36, 22.56)

## String Operations

In [36]:
city ="Kolkata"
print(len(city))

7

In [37]:
print(city.split())

['Kolkata']

In [38]:
print(city.upper())

KOLKATA

In [39]:
city[0]

'K'

In [40]:
city[-1]

'a'

In [42]:
city [0:3]

'Kol'

In [43]:
city[4:]

'ata'

## Escaping characters

##### Certain characters are special since they are by Python language itself. For example, the quote character ’ is used to define a string. What do you do if your string contains a quote character? 
In Python strings, the backslash \ is a special character, also called the escape character. Prefixing any character with a backslash makes it an ordinary character. (Hint: Prefixing a backslash with a backshalsh makes it ordinary too 

It is also used for representing certain whitespace characters, \n is a newline, \t is a tab  c.

Remove the # from the cell below and run it.

In [44]:
my_string = "It is a beutiful day"
print(my_string)

It is a beutiful day

## Printing Strings

##### Modern way of creating strings from variables is using the format() method

In [47]:
city = "Kolkata"
population = 19400000
output =  "Population of {} is {}.".format(city,population)
print(output)

Population of Kolkata is 19400000.

##### You can also use the format method to control the precision of the numbers

In [48]:
latitude = 22.56
longitude = 86.36
coordinates = "{:.2f},{:.2f}".format(latitude,longitude)
print(coordinates)

22.56,86.36

## Loops and Conditionals For Loopss

##### A for loop is used for iterating over a sequence. The sequence can be a list, a tuple, a dictionary, a set, or a string.

In [49]:
cities = ["kolkata","delhi","mumbai","hydrabad"]
for city in cities:
    print (city)

kolkata
delhi
mumbai
hydrabad

##### To iterate over a dictionary, you can call the items() method on it which returns a tuple of key and value for each item.

data = {'city': 'San Francisco', 'population': 881549, 'coordinates': (-122.4194, 37.7749) }
for x,y in data.items():
    print (x,y)

##### The built-in range() function allows you to create sequence of numbers that you can iterate over

In [52]:
for x in range (5):
    print(x)

0
1
2
3
4

##### The range function can also take a start and an end number

In [56]:
for x in range (1,10,2):
    print(x)

1
3
5
7
9

## Conditionals

##### Python supports logical conditions such as equals, not equals, greater than etc. These conditions can be used in several ways, most commonly in if statements and loops. 
An if statement is written by using the if keywor 

Note: A very common error that programmers make is to use = to evaluate a equals to condition. The = in Python means assignment, not equals to. Always ensure that you use the == for an equals to condition.

In [59]:
for city in cities:
    if city == "kolkata":
        print(city)

kolkata

##### You can use else keywords along with if to match elements that do not meet the condition

In [60]:
for city in cities:
    if city == "Ranchi":
        print(city)
    else:
        print("This is not in cities")

This is not in cities
This is not in cities
This is not in cities
This is not in cities

 ##### Python relies on indentation (whitespace at the beginning of a line) to define scope in the for loop and if statements. So make sure your code is properly indented. You can evaluate a series of conditions using the elif keyword. Multiple criteria can be combined using the and and or keywords.

In [62]:
cities_population = {
    "kolkata": 800000,
    "mumbai": 600000,
    "delhi": 400000,
    "hydrabad": 700000
}
for city, population in cities_population.items():
    if population < 1000000:
        print("{} is a small city".format(city))
    elif population > 100000 and population <500000:
        print("{} is a big city".format(city))
    else:
        print("{} is a mega city".format(city))

kolkata is a small city
mumbai is a small city
delhi is a small city
hydrabad is a small city

## Control Statements

##### A for-loop iterates over each item in the sequence. Sometimes is desirable to stop the execution, or skip certain parts of the for-loops. Python has special statements, break, continue and pass. A break statement will stop the loop and exit out of it

In [65]:
for city in cities:
    #print (city)
    if city == "kolkata":
        print("I found kolkata")
        break

I found kolkata

##### A continue statement will skip the remaining part of the loop and go to the next iteration

In [68]:
for city in cities:
    if city == "kolkata":
        continue
    print(city)

delhi
mumbai
hydrabad

##### A pass statement doesn’t do anything. It is useful when some code is required to complete the syntax, but you do not want any code to execute. It is typically used as a placeholder when a function is not complete.

In [72]:
for city in cities:
    if city == "kolkata":
        pass
    else:
        print(city)

delhi
mumbai
hydrabad

## The Python Standard Library

##### Python comes with many built-in modules that offer ready-to-use solutions to common programming problems. To use these modules, you must use the import keyword. Once imported in your Python script, you can use the functions provided by the module in your script.  
We will use the built-in math module that allows us to use advanced mathematical functions.

In [2]:
import math
from math import pi
print (pi)

3.141592653589793

## Working with Pandas

##### Pandas is a powerful library for working with data. Pandas provides fast and easy functions for reading data from files, and analyzing it.

Pandas is based on another library called numpy - which is widely used in scientific computing. Pandas extends numpy and provides new data types such as Index, Series and DataFrames.

In [4]:
import pandas as pd

### Reading Files

In [5]:
import numpy as np
a = np.array ([1,2,3,4])
print(type(a))

<class 'numpy.ndarray'>

b = np.array ([[1,2,4],[3,4,5]])
print (b)
print(b.ndim)
print (b.shape)

In [7]:
print(b[0])

[1 2 4]

In [9]:
print (b[0][2])

4